body{
    font-family: "Microsoft JhengHei UI","DFKai-sb";
    background-color: antiquewhite;
}
.bgc{background-color: antiquewhite;}

.login{
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
color: #fff;
}

.index{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    background: (0,0,5);
font-size: 16px;
}